@mixin tema($horario){
  @if $horario == manha{
    background: white;
    color: black;
  }@else if($horario == tarde){
    background: blue;
    color: yellow
  }@else if($horario == noite){
    background: black;
    color: white
  }@else{
    background: yellow;
    color: blue
  }
}

body{
  @include tema(tarde)
}